.box1 {
  width: 300px;
  height: 300px;
  background-color: #66265b;
  margin: 30px;
  padding: 30px;
}
/*margin(padding)1px 2px 3px 4px 値1つは、上下左右 */
/* 値2つは、上下 左右 */
/* 値3つは、上 左右 下 */
/* 値4つは、上 右 下 左 （時計まわり）*/
.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
  border: 5px solid yellow;
}
